body {
    margin-left: 300px;
    font-family: 'Roboto', sans-serif;
    background-color: #0D0E0E;
    color: white;
}

h3 {
    margin:0px;
    color:blueviolet;
}

p { margin:2px }
ul { margin:5px }


a:link {
    text-decoration: none;
    color: white;
}
  
a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color:#01FD84;
}

a:active {
    text-decoration: underline;
    color:#01FD84;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.marginleft {
    padding-left: 50px;
}
.square {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.leftCenter{
    object-position: 30% 70%;
}

.leftPart {
    object-position: left;
}
   
.main-part {
    width:100%;
    height:auto;
}

.highlight {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 100%;
    border-radius: 3px;
    padding: 1px;
}

.hRed {
    background: linear-gradient(120deg, #e4a0a1 0%, #e4a0a1 100%);
}

.hGreen {
    background: linear-gradient(120deg, #DBEDDB 0%, #DBEDDB 100%);
}

.hBlue {
    background: linear-gradient(120deg, #D3E5EF 0%, #D3E5EF 100%);
}

.hBlue {
    background: linear-gradient(120deg, #D3E5EF 0%, #D3E5EF 100%);
}

.box {
    display: flex;
    align-items: left;
    padding-right: 50px;
}

.card {
    padding-right: 50px;
}
